#abcd{
    height: 0%;
    margin-top: 0%;
    margin-left: -00px;
    width: 100%;
}

.block6{
    text-align: center;
    background-color: rgb(231, 227, 227);
    color: black;
    border: 1px;
    /* padding: 10px; */
    margin-top: 3%;
    margin-bottom: 3%;
}

#tts{
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: 0%;

}

#cs{
    height: 100px;
    width: 100px;
    margin-left: 0%;
    margin-top: -50px;
}

.ncol,.ncol1 {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
.ncol1{
    border-left:2px solid rgb(12, 12, 12);
    border-left-style: dashed;
    /* height: 355px; */
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#para1,#para2{
    text-align: justify;
    padding-right: 10px;
    margin-top: 20px;
    line-height: 25px;
    /* font-size-adjust: inherit; */
    font-size: 13px;
    font-family: Exo;
    float: left;
}

/* #para2{
    margin-bottom: 55px;
} */

#csbt,#csbt1{
    color: #fff;
    background-color:#0e4d3b;
    /* width: 35%; */
    box-sizing: inherit;
    margin-top: 20px;
    margin-bottom: -40px;
    height: 40px;
    border-radius: -1px;
    text-decoration: none;
    /* height: 60px; */
    font-size: medium;
    font-family:Exo;
    /* float:right; */
    /* margin-top: 90px; */
    /* margin-right: -1.5%; */
}

#csbt1{
    margin-top: 45px
}

#bt4{
    color: #fff;
    background-color:#0e4d3b;
    box-sizing: border-box;
    border-radius: 2px;
    /* height: 50px; */
    font-size: 200%;
    font-family:Montserrat;
    font-weight: 400;
    margin-bottom: -50%;
    text-decoration: none;
    /* margin-top: 4%; */
    box-shadow: 1px 1px black;
}

#hed{
    color:#0a382b;
    margin-bottom: 0;
    font-family: Oswald;
    font-size: 25px;
    /* height: 38px; */
    /* width: 24px; */
}

.container5{
    /* background-color: aliceblue; */
    margin-left: 16%;
    margin-right: 16%;
}