#ab{
    font-family:Arial, Helvetica, sans-serif;
    height: 100px;
    width: 300px;
    margin-left: 40px;
    /* font-size: large; */
}
#ac{
    height: 35px;
    margin-top: 5%;
    /* margin-bottom: 30px; */
    width: 250px;
    margin-left: 250px;
}

#pimg{
    margin-left: 50px;
    margin-top: 10px;
}
#Pl{
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-family: Exo;
    image-resolution: 100*40px;
}
#f{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

#tt{
    font-size: 15px;
}

.Box{
    text-align: center;
    background-color: #115542 ;
    color: black;
    border: 1px;
    padding: 10px;
    width: 40%;
    box-shadow: 5px 5px #1e2e27;
    margin-left:30%;
}

#iprp{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px rgb(247, 243, 243);
    border-radius: 8px;
    font-family: Montserrat;
    box-sizing: border-box;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#rt{
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 12px;
    font-family: Exo;
    color: white;
}

#rk{
    margin-left: 40%;
    /* margin-top: 4px; */
    float: left;   
}

.rep{
    float: none;
}

#lbt{
    color: #fff;
    background-color:#91701e;
    width: 65%;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
    box-shadow: 1px 1px black;
    font-size: 19px;
    font-family:Monsterrat;
    margin-bottom: 5px;
}

#grbt{
    color: #fff;
    background-color:#ac8523;
    width: 30%;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
    /* box-shadow: 1px 1px black; */
    font-size: 19px;
    font-family:Exo;
    margin-bottom: 5px;
}

#bt1{
    color: #fff;
    background-color:#be911f;
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    font-size: larger;
    font-family:Exo;
    /* margin-bottom: 40px; */
}

#rety{
    color: white;
    margin-right: 70px;
    font-size: 12px;
}

.container-p{
    text-align: center;
    color: bisque;
    background-color:#0a382b ;
    padding:30px;
    width:100%
}